<% layout("/layouts/showboilerplate.ejs") -%>

        <!-- ----------- Contact Form  --------------- -->
        <br>
        <div class="contact-section section-padding" id="contact">
                <div class="container">
                        <div class="row">
                                <div class="section-title">
                                        <h1 class="title">Contact us</h1>
                                        <h2 class="subtitle">Get in Touch</h2>
                                </div>
                        </div>
                        <div class="row">
                                <div class="contact-info">
                                        <h3>For Any Question and Support</h3>


                                        <div class="contact-info-item">
                                                <i class="fas fa-envelope"></i>
                                                <h4>Write to us at</h4>
                                                <p>herhealth@gmail.com</p>
                                        </div>
                                        <div class="contact-info-item">
                                                <i class="fas fa-comment"></i>
                                                <h4>D.M. us on</h4>
                                                <p>+91 91212 12345</p>
                                        </div>
                                        <div class="contact-info-item">
                                                <i class="fas fa-phone"></i>
                                                <h4>Call us on</h4>
                                                <p>(555) 369-1470</p>
                                        </div>
                                </div>
                                <div class="contact-form">
                                        <form action="">
                                                <div class="row">
                                                        <div class="left">
                                                                <div class="form-group">
                                                                        <input type="text" placeholder="First Name"
                                                                                class="form-control">
                                                                </div>
                                                        </div>

                                                        <div class="right">
                                                                <div class="form-group">
                                                                        <input type="text" placeholder="Last Name"
                                                                                class="form-control">
                                                                </div>
                                                        </div>

                                                </div>
                                                <div class="row">
                                                        <div class="full-width">
                                                                <div class="form-group">
                                                                        <input type="text" placeholder="subject"
                                                                                class="form-control">
                                                                </div>
                                                        </div>
                                                </div>

                                                <div class="row">
                                                        <div class="full-width">
                                                                <div class="form-group">
                                                                        <textarea placeholder="your message"
                                                                                class="form-control"></textarea>
                                                                </div>
                                                        </div>
                                                </div>

                                                <div class="row">
                                                        <div class="full-width">
                                                                <div class="form-group">
                                                                        <button class="btn-1" type="submit">Send
                                                                                Message</button>
                                                                </div>
                                                        </div>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>
        <!-- ----------- End Contact Form  --------------- -->