
  
       
       <!-- -------------- Footer Section  ---------------- -->
        <br>
        <footer class="section-padding">
                <div class="container">
                        <div class="row">
                                <div class="left-col">
                                        <div class="logo1">
                                                <img src="/images/her-health-high-resolution-logo-white-transparent.png"
                                                        style="height: 4rem;">
                                        </div>
                                        <br>
                                        <p>"Empowering women with the knowledge</p>
                                        <p>and resources to take care of their health</p>
                                        <p>is vital for the progress of our nation."</p>

                                </div>

                                <div class="elementor-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Quick Links</h2>
                                        <br>
                                        <ul class="elementor-icon-list-items"
                                                style="list-style:none; text-decoration: underline;">
                                                <li class="elementor-icon-list-item">
                                                        <a href="/about"> <span class="elementor-icon-list-text">About
                                                                        Us</span></a>

                                                </li>

                                                <li class="elementor-icon-list-item">
                                                        <a href="/services/"><span
                                                                        class="elementor-icon-list-text">Services</span></a>

                                                </li>

                                                <li class="elementor-icon-list-item">
                                                        <a href="/query"> <span
                                                                        class="elementor-icon-list-text">Query</span></a>

                                                </li>
                                                <li class="elementor-icon-list-item">
                                                        <a href="/query"> <span
                                                                        class="elementor-icon-list-text">FAQ</span></a>

                                                </li>
                                                <li class="elementor-icon-list-item">
                                                        <a href="/contact"> <span
                                                                        class="elementor-icon-list-text">Contact</span></a>

                                                </li>
                                                <li class="elementor-icon-list-item">
                                                        <a href="/T & C/"><span class="elementor-icon-list-text">Term &
                                                                        Conditions</span></a>

                                                </li>
                                        </ul>
                                </div>


                                <div class="right-col">
                                        <h2>Our Newsletter</h2>
                                        <div class="border"></div>
                                        <p>Enter Your Email to get our news and updates.</p>
                                        <form action="/home" class="newsletter-form">
                                                <input type="text" class="txtb" placeholder="enter your email">
                                                <input type="submit" class="btn-2" value="submit">
                                        </form>
                                        <br>
                                        <h2>Social Media:</h2>
                                        <div class="social-media">
                                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                                <a href="#"><i class="fab fa-youtube"></i></a>
                                                <a href="#"><i class="fab fa-facebook"></i></a>
                                                <a href="#"><i class="fab fa-pinterest"></i></a>
                                        </div>
                                        <p class="media"><a href="/newsletters/"
                                                        style="text-decoration: underline;">Subscribe</a> to
                                                herhealth.com
                                                newsletters for the latest medication news, new drug approvals, alerts
                                                and updates.</p>
                                </div>
                                <p class="mid-text" style="font-family: none;"> Copyright &copy; 2024. All rights
                                        reserved</p>
                        </div>
                </div>
        </footer>
        <!-- -------------- End Footer Section  ------------ -->

        

