<% layout("/layouts/showboilerplate.ejs") -%>

        <!------- query ------>
        <div class="Query-section" id="Query">
            <h1 class="h12">Common Query</h1>
            <br>
            <div class="box-container">
                    <div class="box1">
                            <img src="/images/period.webp" class="box-img">
                    </div>
                    <div class="text-box">
                            <h1 class="box-title">Why is my period so heavy?</h1>
                            <p class="box-info">Periods are different for each person. They normally last up to
                                    eight days, according
                                    to ACOG, but if yours lasts longer than that or you think it is heavier than
                                    what is normal for you, you should consult your doctor. For example, you may
                                    have
                                    fibroids, which is one condition that can cause periods to be heavier. You
                                    should also talk to your doctor if you have bleeding or spotting in between your
                                    periods or if you have severe pain or cramping during your period.</p>
                    </div>
                    <div class="text-box">
                            <h1 class="box-title">How do I know when menopause starts?</h1>
                            <p class="box-info">Menopause is confirmed when you have not had your period for 12
                                    consecutive months, according to the North American Menopause Society. The
                                    average age is around 51. Perimenopause, which is the period leading up to
                                    menopause is when you typically experience symptoms such as irregular periods,
                                    mood swings, hot flashes, and night sweats. This often begins when you are in
                                    your 40s and can last for years before menopause is complete</p>
                    </div>
                    <div class="box1">
                            <img src="/images/monopause.webp" class="box-img">
                    </div>
                    <div class="box">
                            <img src="/images/discharge.webp" class="box-img">
                    </div>
                    <div class="text-box">
                            <h1 class="box-title">Does vaginal discharge mean something is wrong?</h1>
                            <p class="box-info">As with vaginal odors, some vaginal discharges are normal and
                                    can signal that your vagina is healthy. A normal discharge can change in
                                    frequency and thickness during your monthly cycle. However, if you notice an
                                    increased amount of discharge, experience itching or burning along with the
                                    discharge, notice a foul smell, or have a white, clumpy discharge, you should
                                    talk to your doctor. These types of discharge can be the sign of an infection.
                            </p>
                    </div>
                    <div class="text-box">
                            <h1 class="box-title">How do I treat painful menstrual cramps?
                            </h1>
                            <p class="box-info">How to best treating menstrual cramps (dysmenorrhea) varies for
                                    every individual. There are self-care measures you can take, such as using a
                                    heating pad, exercising, and resting as much as you can. Over-the-counter
                                    painkillers like ibuprofen or naproxen may also help relieve your symptoms.</p>
                    </div>
                    <div class="box1">
                            <img src="/images/menstrual cramp.webp" class="box-img">
                    </div>
                    <div class="box1">
                            <img src="/images/Missed-period-.jpg" class="box-img">
                    </div>
                    <div class="text-box">
                            <h1 class="box-title">What if I miss a period?</h1>
                            <p class="box-info">A missed period – or amenorrhea, if you’ve missed at least
                                    three periods in a row – is considered a symptom, not a disease. However, not
                                    all missed periods means that you are sick. Sometimes this is due to stress and
                                    fatigue. Treatments for a missed period will depend on the cause, and these may
                                    include lifestyle changes. Women who are diagnosed with polycystic ovary
                                    syndrome may be treated with oral contraceptives.</p>
                    </div>
                    <div class="text-box">
                            <h1 class="box-title">Breast Cancer</h1>
                            <p class="box-info">Breast cancer usually originates in the thin lining of milk
                                    ducts; it can also spread to other organs and is by far the most common type of
                                    cancer affecting the global female population. Women in developed nations are
                                    more susceptible to breast cancer due to their extended life spans.</p>
                    </div>
                    <div class="box1">
                            <img src="/images/breast cancer.jpg" class="box-img">
                    </div>
                    <div class="box1">
                            <img src="/images/cervical-cancer.avif" class="box-img">
                    </div>

                    <div class="text-box">
                            <h1 class="box-title">Ovarian And Cervical Cancer
                            </h1>
                            <p class="box-info">Most people aren’t aware of the differences between ovarian and
                                    cervical cancer. Cervical cancer originates in the lower part of the uterus (the
                                    cervix), while ovarian cancer starts right in the ovaries. Although both
                                    conditions might cause similar pain, cervical cancer is responsible for causing
                                    discharge and pain during intercourse. Ovarian cancer has extremely vague
                                    symptoms, although the condition is very complex.</p>
                    </div>
            </div>


    </div>
    <!------- end query -------->