<% layout("/layouts/boilerplate.ejs") -%>


<body>

        <!-- ----  home  ---- -->
        <section class="home-section" id="home">
                <div class="main-box"></div>
                <br>
                <div class="box">
                        <br><br>
                        <h1 class="h1">Find Diseases & Treatments</h1>
                        <br>
                        <form action="/search" method="get" autocomplete="off">
                                <div class="wc-input-group-action">
                                        <label>
                                                <span class="wc-form-label-placeholder"></span>
                                                <input type="text" id="livesearch-main" class="livesearch"
                                                        name="searchterm" placeholder="Enter any disease..."
                                                        data-autocomplete="main" data-required="1" autocapitalize="off"
                                                        autocomplete="on" autocorrect="on">
                                        </label>
                                        <button type="submit" class="wc-btn">
                                                <span class="wc-sr-only"></span>
                                                <svg class="wc-icon wc-icon-search" width="30" height="20"
                                                        viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                                d="M17 15.4c2.4-3.1 2.4-7.4 0-10.5C14.1 1.1 8.7.4 4.9 3.3 1.1 6.2.4 11.6 3.3 15.4c2.9 3.8 8.3 4.5 12.1 1.6l4.8 4.8 1.6-1.6-4.8-4.8Zm-6.9 1.1c-3.5 0-6.4-2.9-6.4-6.4 0-3.5 2.9-6.4 6.4-6.4 3.5 0 6.4 2.9 6.4 6.4 0 3.5-2.9 6.4-6.4 6.4Z">
                                                        </path>
                                                </svg>
                                        </button>
                                </div>
                        </form>
                        <br>

                </div>
                <div class="box-tab-list">
                        <div class="tab-list">

                                <div id="tab-section-1" class="wc-tab-content" data-tab-content="1" role="tabpanel"
                                        aria-labelledby="tab-1">
                                        <nav class="wc-paging" aria-label="Diseases list navigation by first letter">
                                                <ul>
                                                        <li><a href="/diseases/<%="A"%>"
                                                                        aria-label="Browse diseases by letter: a">A</a>
                                                        </li>
                                                        <li><a href="/diseases/B"
                                                                        aria-label="Browse diseases by letter: b">B</a>
                                                        </li>
                                                        <li><a href="/diseases/C"
                                                                        aria-label="Browse diseases by letter: c">C</a>
                                                        </li>
                                                        <li><a href="/diseases/D"
                                                                        aria-label="Browse diseases by letter: d">D</a>
                                                        </li>
                                                        <li><a href="/diseases/E"
                                                                        aria-label="Browse diseases by letter: e">E</a>
                                                        </li>
                                                        <li><a href="/diseases/F"
                                                                        aria-label="Browse diseases by letter: f">F</a>
                                                        </li>
                                                        <li><a href="/diseases/G"
                                                                        aria-label="Browse diseases by letter: g">G</a>
                                                        </li>
                                                        <li><a href="/diseases/H"
                                                                        aria-label="Browse diseases by letter: h">H</a>
                                                        </li>
                                                        <li><a hreF="/diseases/I"
                                                                        aria-label="Browse diseases by letter: i">I</a>
                                                        </li>
                                                        <li><a href="/diseases/J"
                                                                        aria-label="Browse diseases by letter: j">J</a>
                                                        </li>
                                                        <li><a href="/diseases/K"
                                                                        aria-label="Browse diseases by letter: k">K</a>
                                                        </li>
                                                        <li><a href="/diseases/L"
                                                                        aria-label="Browse diseases by letter: l">L</a>
                                                        </li>
                                                        <li><a href="/diseases/M"
                                                                        aria-label="Browse diseases by letter: m">M</a>
                                                        </li>
                                                        <li><a href="/diseases/N"
                                                                        aria-label="Browse diseases by letter: n">N</a>
                                                        </li>
                                                        <li><a href="/diseases/O"
                                                                        aria-label="Browse diseases by letter: o">O</a>
                                                        </li>
                                                        <li><a href="/diseases/P"
                                                                        aria-label="Browse diseases by letter: p">P</a>
                                                        </li>
                                                        <li><a href="/diseases/Q"
                                                                        aria-label="Browse diseases by letter: q">Q</a>
                                                        </li>
                                                        <li><a href="/diseases/R"
                                                                        aria-label="Browse diseases by letter: r">R</a>
                                                        </li>
                                                        <li><a href="/diseases/S"
                                                                        aria-label="Browse diseases by letter: s">S</a>
                                                        </li>
                                                        <li><a href="/diseases/T"
                                                                        aria-label="Browse diseases by letter: t">T</a>
                                                        </li>
                                                        <li><a href="/diseases/U"
                                                                        aria-label="Browse diseases by letter: u">U</a>
                                                        </li>
                                                        <li><a href="/diseases/V"
                                                                        aria-label="Browse diseases by letter: v">V</a>
                                                        </li>
                                                        <li><a href="/diseases/W"
                                                                        aria-label="Browse diseases by letter: w">W</a>
                                                        </li>
                                                        <li><a href="/diseases/X"
                                                                        aria-label="Browse diseases by letter: x">X</a>
                                                        </li>
                                                        <li><a href="/diseases/Y"
                                                                        aria-label="Browse diseases by letter: y">Y</a>
                                                        </li>
                                                        <li><a href="/diseases/Z"
                                                                        aria-label="Browse diseases by letter: z">Z</a>
                                                        </li>

                                                </ul>
                                        </nav>
                                        <br>
                                        <p>Browse A-Z: <a href="/drug_information.html" style="text-decoration: underline;">Diseases</a>, <a
                                                        href="/medical_conditions.html"style="text-decoration: underline;">Treatments</a></p>
                                </div>
                                <div id="tab-section-2" class="wc-tab-content" data-tab-content="2" role="tabpanel"
                                        aria-labelledby="tab-2">
                                        <nav class="wc-paging" aria-label="Condition list navigation by first letter">
                                        </nav>
                                        <br>
                                        <p>See also: <a href="/careguide"style="text-decoration: underline;">Care Guides</a>, <a
                                                        href="/careguide"style="text-decoration: underline;">Women
                                                        Health
                                                        Guides</a></p>
                                </div>
                        </div>
                </div>

        </section>
        <!-- end home section -->

        <!-- common diseases -->
        <div class="diseases-section" id="diseases">
                <h1 class="h12">Common Diseases </h1>
                <br>
                <div class="container2">
                        <div class="cards-container">
                                <div class="card">
                                        <img src="/images/Periodproblems.jpg" class="card-img">
                                        <div class="card-data">
                                                <a href="/acne/">
                                                        <h2 class="card-title">Period problems</h2>
                                                </a>

                                                <p class="card-info"> Regular periods are a sign that your body is
                                                        working normally. You should have regular periods unless you are
                                                        pregnant, breastfeeding, postmenopausal, or have a medical
                                                        condition that causes your periods to stop. Irregular, painful,
                                                        or heavy periods may be signs of a serious health problem...

                                                </p>
                                                <a href="/diseases/668d949cd2384ab6234f4f86/show" class="card__button"
                                                        style="text-decoration: underline;">Read More</a>
                                        </div>

                                </div>
                                <div class="card">
                                        <img src="/images/WomenandHIV.jpg" class="card-img">
                                        <div class="card-data">
                                                <a href="/acne/">
                                                        <h2 class="card-title">Women and HIV</h2>
                                                </a>

                                                <p class="card-info"> One in four people living with HIV in the United
                                                        States is a woman. Women of all ages, races, and ethnicities can
                                                        get HIV, but some women are more at risk than others...

                                                </p>
                                                <a href="/diseases/668d949cd2384ab6234f4f64/show" class="card__button"
                                                        style="text-decoration: underline;">Read More</a>
                                        </div>

                                </div>
                                <div class="card">
                                        <img src="/images/Acne.jpg" class="card-img">
                                        <div class="card-data">
                                                <a href="/acne/">
                                                        <h2 class="card-title">Acne</h2>
                                                </a>

                                                <p class="card-info"> Acne is a disorder that causes outbreaks of skin
                                                        lesions commonly
                                                        called pimples. Acne lesions … the face, neck, back, chest, and
                                                        shoulders. It is
                                                        the most common skin disease. Although acne is not a serious
                                                        health … Institute
                                                        of Arthritis and Musculoskeletal and Skin Diseases Information
                                                        Clearinghouse,
                                                        NIAMS, NIH, HHS …

                                                </p>
                                                <a href="/diseases/668d949cd2384ab6234f4f46/show" class="card__button"
                                                        style="text-decoration: underline;">Read More</a>
                                        </div>

                                </div>
                                <div class="card">
                                        <img src="/images/Thyroid.jpg" class="card-img">
                                        <div class="card-data">
                                                <a href="/thyroid/">
                                                        <h2 class="card-title">Thyroid</h2>
                                                </a>

                                                <p class="card-info">How fast you burn calories and how fast your heart
                                                        beats.
                                                        Diseases
                                                        of the thyroid cause it to make either too much or too … your
                                                        body's
                                                        functions,
                                                        like your metabolism. The most common cause of hypothyroidism in
                                                        the
                                                        United
                                                        States is …</p>
                                                <a href="/diseases/668d949cd2384ab6234f4f8d/show" class="card__button"
                                                        style="text-decoration: underline;">Read More</a>
                                        </div>

                                </div>
                                <div class="card">
                                        <img src="/images/Diabetes.jpg" class="card-img">
                                        <div class="card-data">
                                                <a>
                                                        <h2 class="card-title">Diabetes</h2>
                                                </a>

                                                <p class="card-info">Diabetes is a disease caused by high levels of
                                                        blood sugar
                                                        (glucose) in your body. This can happen when … every day. Type 2
                                                        diabetes. This
                                                        is the most common type of diabetes. You can get type 2 diabetes
                                                        at any
                                                        …
                                                        National Institute of Diabetes and Digestive and Kidney
                                                        Diseases.
                                                        (NIDDK).
                                                        (2017). Type 1 diabetes . Menke, …</p>
                                                <a href="/diseases/668d949cd2384ab6234f4f5a/show" class="card__button"
                                                        style="text-decoration: underline;">Read More</a>
                                        </div>

                                </div>
                                <div class="card">
                                        <img src="/images/Weightandobesity.jpg" class="card-img">
                                        <div class="card-data">
                                                <a>
                                                        <h2 class="card-title">Weight & obesity</h2>
                                                </a>

                                                <p class="card-info">
                                                        Extra weight leads to many diseases that affect
                                                        women, such as heart disease, diabetes, … Disease Control and
                                                        Prevention. Women
                                                        with a BMI of 25 to 29.9 are considered overweight. Women with a
                                                        … . How
                                                        common
                                                        are overweight and obesity? Overweight and …

                                                </p>
                                                <a href="/diseases/668d949cd2384ab6234f4f93/show" class="card__button"
                                                        style="text-decoration: underline;">Read More</a>
                                        </div>

                                </div>
                        </div>
                </div>


        </div>
        <!-- end common diseases -->
        <br>
        <!------- query ------>
        <div class="Query-section" id="Query">
                <h1 class="h12">Common Query</h1>
                <br>
                <div class="box-container">
                        <div class="box1">
                                <img src="/images/period.webp" class="box-img">
                        </div>
                        <div class="text-box">
                                <h1 class="box-title">Why is my period so heavy?</h1>
                                <p class="box-info">Periods are different for each person. They normally last up to
                                        eight days, according
                                        to ACOG, but if yours lasts longer than that or you think it is heavier than
                                        what is normal for you, you should consult your doctor. For example, you may
                                        have
                                        fibroids, which is one condition that can cause periods to be heavier. You
                                        should also talk to your doctor if you have bleeding or spotting in between your
                                        periods or if you have severe pain or cramping during your period.</p>
                        </div>
                        <div class="text-box">
                                <h1 class="box-title">How do I know when menopause starts?</h1>
                                <p class="box-info">Menopause is confirmed when you have not had your period for 12
                                        consecutive months, according to the North American Menopause Society. The
                                        average age is around 51. Perimenopause, which is the period leading up to
                                        menopause is when you typically experience symptoms such as irregular periods,
                                        mood swings, hot flashes, and night sweats. This often begins when you are in
                                        your 40s and can last for years before menopause is complete</p>
                        </div>
                        <div class="box1">
                                <img src="/images/monopause.webp" class="box-img">
                        </div>
                        <div class="box">
                                <img src="/images/discharge.webp" class="box-img">
                        </div>
                        <div class="text-box">
                                <h1 class="box-title">Does vaginal discharge mean something is wrong?</h1>
                                <p class="box-info">As with vaginal odors, some vaginal discharges are normal and
                                        can signal that your vagina is healthy. A normal discharge can change in
                                        frequency and thickness during your monthly cycle. However, if you notice an
                                        increased amount of discharge, experience itching or burning along with the
                                        discharge, notice a foul smell, or have a white, clumpy discharge, you should
                                        talk to your doctor. These types of discharge can be the sign of an infection.
                                </p>
                        </div>
                        <div class="text-box">
                                <h1 class="box-title">How do I treat painful menstrual cramps?
                                </h1>
                                <p class="box-info">How to best treating menstrual cramps (dysmenorrhea) varies for
                                        every individual. There are self-care measures you can take, such as using a
                                        heating pad, exercising, and resting as much as you can. Over-the-counter
                                        painkillers like ibuprofen or naproxen may also help relieve your symptoms.</p>
                        </div>
                        <div class="box1">
                                <img src="/images/menstrual cramp.webp" class="box-img">
                        </div>
                        <div class="box1">
                                <img src="/images/Missed-period-.jpg" class="box-img">
                        </div>
                        <div class="text-box">
                                <h1 class="box-title">What if I miss a period?</h1>
                                <p class="box-info">A missed period – or amenorrhea, if you’ve missed at least
                                        three periods in a row – is considered a symptom, not a disease. However, not
                                        all missed periods means that you are sick. Sometimes this is due to stress and
                                        fatigue. Treatments for a missed period will depend on the cause, and these may
                                        include lifestyle changes. Women who are diagnosed with polycystic ovary
                                        syndrome may be treated with oral contraceptives.</p>
                        </div>
                        <div class="text-box">
                                <h1 class="box-title">Breast Cancer</h1>
                                <p class="box-info">Breast cancer usually originates in the thin lining of milk
                                        ducts; it can also spread to other organs and is by far the most common type of
                                        cancer affecting the global female population. Women in developed nations are
                                        more susceptible to breast cancer due to their extended life spans.</p>
                        </div>
                        <div class="box1">
                                <img src="/images/breast cancer.jpg" class="box-img">
                        </div>
                        <div class="box1">
                                <img src="/images/cervical-cancer.avif" class="box-img">
                        </div>

                        <div class="text-box">
                                <h1 class="box-title">Ovarian And Cervical Cancer
                                </h1>
                                <p class="box-info">Most people aren’t aware of the differences between ovarian and
                                        cervical cancer. Cervical cancer originates in the lower part of the uterus (the
                                        cervix), while ovarian cancer starts right in the ovaries. Although both
                                        conditions might cause similar pain, cervical cancer is responsible for causing
                                        discharge and pain during intercourse. Ovarian cancer has extremely vague
                                        symptoms, although the condition is very complex.</p>
                        </div>
                </div>


        </div>
        <!------- end query -------->
        <br>
        <div class="main-box1">
                <h1 class="typewriter">Women's Health Matters <br>& We're Here to Prove It</h1>
        </div>
        <!-- ----------- Contact Form  --------------- -->
        <br>
        <div class="contact-section section-padding" id="contact">
                <div class="container">
                        <div class="row">
                                <div class="section-title">
                                        <h1 class="title">Contact us</h1>
                                        <h2 class="subtitle">Get in Touch</h2>
                                </div>
                        </div>
                        <div class="row">
                                <div class="contact-info">
                                        <h3>For Any Question and Support</h3>


                                        <div class="contact-info-item">
                                                <i class="fas fa-envelope"></i>
                                                <h4>Write to us at</h4>
                                                <p>herhealth@gmail.com</p>
                                        </div>
                                        <div class="contact-info-item">
                                                <i class="fas fa-comment"></i>
                                                <h4>D.M. us on</h4>
                                                <p>+91 91212 12345</p>
                                        </div>
                                        <div class="contact-info-item">
                                                <i class="fas fa-phone"></i>
                                                <h4>Call us on</h4>
                                                <p>(555) 369-1470</p>
                                        </div>
                                </div>
                                <div class="contact-form">
                                        <form action="">
                                                <div class="row">
                                                        <div class="left">
                                                                <div class="form-group">
                                                                        <input type="text" placeholder="First Name"
                                                                                class="form-control">
                                                                </div>
                                                        </div>

                                                        <div class="right">
                                                                <div class="form-group">
                                                                        <input type="text" placeholder="Last Name"
                                                                                class="form-control">
                                                                </div>
                                                        </div>

                                                </div>
                                                <div class="row">
                                                        <div class="full-width">
                                                                <div class="form-group">
                                                                        <input type="text" placeholder="subject"
                                                                                class="form-control">
                                                                </div>
                                                        </div>
                                                </div>

                                                <div class="row">
                                                        <div class="full-width">
                                                                <div class="form-group">
                                                                        <textarea placeholder="your message"
                                                                                class="form-control"></textarea>
                                                                </div>
                                                        </div>
                                                </div>

                                                <div class="row">
                                                        <div class="full-width">
                                                                <div class="form-group">
                                                                        <button class="btn-1" type="submit">Send
                                                                                Message</button>
                                                                </div>
                                                        </div>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>
        <!-- ----------- End Contact Form  --------------- -->
        

</body>

</html>